body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.top {
    margin-top: 10%;
}

#h_title {
    width: 60%;
    height: 70px;
    margin: 0 auto;
    background-color: rgb(243, 250, 249);
    border-radius: 10px;
    border: 2px solid blue;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-size: 24px;
    font-weight: 500;
    color: #2c2a2a;
}

.input_section {
    width: 100%;
    margin-top: 5px;
}

#input_container {
    width: 60%;
    height: 70px;
    margin: 0 auto;
    background-color: rgb(243, 250, 249);
    border-radius: 10px;
    border: 2px solid blue;
}

#text_area {
    width: 60%;
    height: 70px;
    
    float: left;
}

#myInput {
    width: 95%;
    margin-left: 2.5%;
    height: 45px;
    padding: 0;
    border: 2px solid #b2b3b4;
    border-radius: 5px;
    font-size: 22px;
    color: #111111;
    margin-top: 10.5px;
}
input:focus{
    outline: none;
    border-color: #0d75ec;
}

#category {
    width: 18%;
    padding-left: 10px;
    height: 70px;
    float: left;
}

#add_button {
    width: 20%;
    height: 70px;
    float: right;
}

.addBtn {
    position: absolute;
    width: 12%;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #111111;
    margin-top: 12.5px;
}

.addBtn:hover {
    background-color: #bbb;
  }

.list_section {
    width: 100%;
    margin-top: 5px;
}

#t_list {
    width: 60%;
    height: fit-content;
    margin: 0 auto;
    background-color: rgb(243, 250, 249);
    border-radius: 10px;
    border: 2px solid blue;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  ul li:hover {
    background: #ddd;
  }

  ul li.checked {
    background: rgb(23, 216, 49);
    color: #fff;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: rgb(52, 199, 36);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
